
[user]
	name = Martin Riedel
	email = mail@mrtnrdl.de
[credential]
	helper = cache
[alias]
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
	stat = status -sb
	last = log -1 --stat
	unstage = reset HEAD --
	cached = diff --cached
	d = difftool
[color]
	ui = auto
[diff]
	tool = auto
[difftool]
	prompt = false
[push]
	default = simple
[core]
	editor = vim
