i3/.i3/i3log
*.swp
vim/.vim/.netrwhist
vim/.vim/bundle/*
zsh/.zsh/machinespecific.zsh
weechat/.weechat/logs
weechat/.weechat/weechat.log
weechat/.weechat/weeget
weechat/.weechat/xfer
weechat/.weechat/irc.conf
weechat/.weechat/sec.conf
weechat/.weechat/jabber.conf
atom/.atom/.apm/.apmrc
ssh/.ssh/id_rsa*
ssh/.ssh/known_hosts
ranger/.config/ranger/history
ranger/.config/ranger/tagged
