"*":
  core:
    audioBeep: false
    destroyEmptyPanes: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    backUpBeforeSaving: true
  "exception-reporting":
    userId: "6df6afb3-8f2a-3062-bd7f-33e104d0ffa6"
  welcome:
    showOnStartup: false
